Banking customer churn

In [15]:
import pandas as pd

data = pd.read_csv("input/Churn_Modelling.csv")

In [17]:
data.head()

,CustomerId,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,15634602,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,15647311,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,15619304,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,15701354,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,15737888,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [16]:
# Drop RowNumber and Surname columns as they irrelevant for the purpose of the analysis
data.drop(["RowNumber", "Surname"], axis = 1, inplace = True)

In [21]:
# Check dataset size 
data.shape
# We have 10000 entries and 12 columns. 9 columns are potential features, 1 is the aim of prediction (Exited) and then the remaining is the Customer ID which will not be
# regarded as a feature of course

(10000, 12)

In [24]:
# Explore the data types and the presence of null values
data.info()
# There are no values. Additionally numeric features seem to be correct, namely, either int or float. That means that, at least, there are no strange values for those features

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustomerId       10000 non-null  int64
 1   CreditScore      10000 non-null  int64
 2   Geography        10000 non-null  object
 3   Gender           10000 non-null  object
 4   Age              10000 non-null  int64
 5   Tenure           10000 non-null  int64
 6   Balance          10000 non-null  float64
 7   NumOfProducts    10000 non-null  int64
 8   HasCrCard        10000 non-null  int64
 9   IsActiveMember   10000 non-null  int64
 10  EstimatedSalary  10000 non-null  float64
 11  Exited           10000 non-null  int64
dtypes: float64(2), int64(8), object(2)
memory usage: 937.6+ KB

In [ ]:
# Explore the data types and the presence of null values
data.info()
# There are no null values
# Numeric features seem to be correct, namely, either int or float. That means that, at least, there are no strange values for those features

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustomerId       10000 non-null  int64
 1   CreditScore      10000 non-null  int64
 2   Geography        10000 non-null  object
 3   Gender           10000 non-null  object
 4   Age              10000 non-null  int64
 5   Tenure           10000 non-null  int64
 6   Balance          10000 non-null  float64
 7   NumOfProducts    10000 non-null  int64
 8   HasCrCard        10000 non-null  int64
 9   IsActiveMember   10000 non-null  int64
 10  EstimatedSalary  10000 non-null  float64
 11  Exited           10000 non-null  int64
dtypes: float64(2), int64(8), object(2)
memory usage: 937.6+ KB

In [40]:
# Explore the features

# Credit Score
data["CreditScore"].nunique() # there are 460 unique values for credit score
data["CreditScore"].describe()

count    10000.000000
mean       650.528800
std         96.653299
min        350.000000
25%        584.000000
50%        652.000000
75%        718.000000
max        850.000000
Name: CreditScore, dtype: float64

In [49]:
# Geography
data["Geography"].nunique() # there are 3 countries
data["Geography"].value_counts(), data["Geography"].value_counts()/ data.shape[0]*100 # Mostly from France

(France     5014
 Germany    2509
 Spain      2477
 Name: Geography, dtype: int64,
 France     50.14
 Germany    25.09
 Spain      24.77
 Name: Geography, dtype: float64)

In [50]:
# Gender
data["Gender"].nunique() 
data["Gender"].value_counts(), data["Gender"].value_counts()/ data.shape[0]*100 # 54% women

(Male      5457
 Female    4543
 Name: Gender, dtype: int64,
 Male      54.57
 Female    45.43
 Name: Gender, dtype: float64)

In [51]:
# Age
data["Age"].nunique() 
data["Age"].describe() # Generally middle-age people. 50% is between 32 and 44 years old

count    10000.000000
mean        38.921800
std         10.487806
min         18.000000
25%         32.000000
50%         37.000000
75%         44.000000
max         92.000000
Name: Age, dtype: float64

In [52]:
# Tenure
data["Tenure"].nunique()
data["Tenure"].describe() # Customers tend to continue using the bank for several years. 50% of customers continue with this bank between 3 and 7 years.

count    10000.000000
mean         5.012800
std          2.892174
min          0.000000
25%          3.000000
50%          5.000000
75%          7.000000
max         10.000000
Name: Tenure, dtype: float64

In [55]:
# Number of products
#data["NumOfProducts"].nunique() 
data["NumOfProducts"].describe() # At least  50% of the customers only have 1 product, which most likely is the usual saving account or credit card
# 75% of the customers have 2 or less products

count    10000.000000
mean         1.530200
std          0.581654
min          1.000000
25%          1.000000
50%          1.000000
75%          2.000000
max          4.000000
Name: NumOfProducts, dtype: float64

In [56]:
# Has credit card
data["HasCrCard"].value_counts(), data["HasCrCard"].value_counts()/ data.shape[0]*100 # 70% of the customers have a credit card

(1    7055
 0    2945
 Name: HasCrCard, dtype: int64,
 1    70.55
 0    29.45
 Name: HasCrCard, dtype: float64)

In [57]:
# Is active member?
data["IsActiveMember"].value_counts(), data["IsActiveMember"].value_counts()/ data.shape[0]*100 # Just half of the customers are active users of their products

(1    5151
 0    4849
 Name: IsActiveMember, dtype: int64,
 1    51.51
 0    48.49
 Name: IsActiveMember, dtype: float64)

In [58]:
# Estimated Salary
data["EstimatedSalary"].describe() # 50% of the customers have an estimated yearly salary of 100.000 euros or more. 
# 25% of the customers have an estimated salary of 51.000 or less 
# There is an odd case of 11.58

count     10000.000000
mean     100090.239881
std       57510.492818
min          11.580000
25%       51002.110000
50%      100193.915000
75%      149388.247500
max      199992.480000
Name: EstimatedSalary, dtype: float64

In [63]:
data["EstimatedSalary"].sort_values(ascending = False).tail(20)

925     447.73
5120    440.20
5675    428.23
393     417.41
396     371.05
2046    343.38
9649    332.81
8502    287.99
3446    247.36
1462    236.45
1451    216.27
4774    178.19
8722    143.34
2498    142.81
7565    123.07
4989    106.67
5548     96.27
9010     91.75
9647     90.07
2362     11.58
Name: EstimatedSalary, dtype: float64

There are several low values for estimated salary. This must be estimated values from a model which is based on the available data and should be used carefully

In [64]:
# Lastly, the exit status
data["Exited"].value_counts(), data["Exited"].value_counts()/ data.shape[0]*100 # 20% of the customers exited

(0    7963
 1    2037
 Name: Exited, dtype: int64,
 0    79.63
 1    20.37
 Name: Exited, dtype: float64)

    The dataset is extremely neat and thus it does not require a careful cleaning process.
    With the data ready to use, we can move to the exploratory analysis with Python using matplotlib and seaborn and we can also create a dashboard using Tableau
    The dashboard will allow us to have a quick understanding of the customer structure. This way we could rapidly identify patterns as well as controlling the changes on the 
    customer structure.